:root {
    --darkgrey: #222831;
    --grey:#393E46;
    --lightblue:#00ADB5;
    --white:#EEEEEE;

}

body {
    font-family: monospace;
    font-style: oblique;
    background-color:var(--darkgrey);
    margin: 0px;
    }

a {
color: inherit; /* Usa el color del texto normal */
 }

.intro, .odin {
    display: flex;
    flex-direction: row;
    color: var(--white);
    padding: 125px;
    
}

.intro img {
    height: 250px;
    width: 250px;
    border: solid var(--white) 2px;
    border-radius: 50%;
}

.bio {
    margin-left: 62.5px;
    height: 250px;
    width: 700px;
    
}

.pics {
    margin-top: 50px;
}

.pics img {
    height: 50px;
    width: 50px;
    border:#00ADB5 solid 0px;
    border-radius: 0%;
}

.intro2{
    background-color: var(--white);
    padding: 125px;
    height: 62.5px;
}

.intro2 p {
    text-align-last: right;
    color: var(--darkgrey);
}

.odin {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
}

.miniicons {
    
    display: flex;
    gap: 20px;
    justify-content: end;
}

.miniicons img {
    height: 25px;
    
}

.projects {
    height: 500px;
}

.ghr {

    color: var(--white);
    padding-top: 125px;
    padding-left: 125px;
}

.etch {
    color: var(--white);
    text-align: center;
    margin-top: 62.5px;
    height: 800px;
    padding: 62.5px;
    background-color:var(--darkgrey);
}

 

.calculator  {
    background-color: var(--white);
    height: 400px;
    padding: 62.5px;

}
.rpsc{
    background-color: var(--grey);
    
}
.rps {
    background-color: var(--darkgrey);
    
    height: 700px;
}

.discordbots {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    color:#222831;
    padding: 125px;
    height: 50px;
}

.bots {
    display: flex;
    flex-direction: row;
}



.opencvtittle {
    padding-top: 125px;
    padding-left: 125px;

    
    color: var(--white);
    padding-bottom: 0px;
}

.face , .botonera{
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 125px;
    padding-top: 20px;
    
}

.face img {
    height: 400px;
    margin-bottom: 20px;
}

.botonera img {
    height: 200px;
}

.icaro {
    background-color:var(--darkgrey);
    padding: 125px;
    color: var(--white);
    text-align: center;
 
}


.icaro img {
    height: 500px;
    border: inset var(--white) 5px;
}